@tailwind base;
@tailwind components;
@tailwind utilities;


html ,body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #F2F5EA;
    color: #2C363F;
    
  }

@font-face {
    font-family: 'PixelColeco';
    src: url('../assets/fonts/PixelColeco-4vJW.ttf')  format('truetype');
}
@font-face {
    font-family: 'TimeBurnerBold';
    src: url('../assets/fonts/TimeburnerBold-peGR.ttf')  format('truetype');
}
@font-face {
    font-family: 'TimeBurner';
    src: url('../assets/fonts/Timeburner-xJB8.ttf')  format('truetype');
}
h1{
    color: #E75A7C;
    font-family: 'PixelColeco';
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 30px 0;
    background-color: #2C363F;
    border-bottom: 8px solid #E75A7C;
}

button .icon{
    fill: #BBC7A4;
}
button:hover .icon{
    fill: #E75A7C;
}
.panel{
    width: 100%;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 90%;
}
.v-enter-active,
.v-leave-active {
  transition: opacity .2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

#wait{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.loader{
    filter: drop-shadow(0 0 0.75rem #2C363F)
}

button{
    padding: 1.5em;
    text-align: center;
    border:2px solid #BBC7A4;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#2C363F;
    border-radius: 50px;
    background-color: #D6DBD2;
    font-family: 'PixelColeco';
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
button:hover{
    border:2px solid #E75A7C;
    background-color: #2C363F;
    color:#F2F5EA;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #E75A7C;
}
